Source: eigenexa
Section: scientific
Priority: extra
Maintainer: Synge Todo <wistaria@phys.s.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 8.0.0), cmake, gfortran, mpi-default-dev, libscalapack-mpi-dev
Standards-Version: 3.9.3
Homepage: https://www.r-ccs.riken.jp/labs/lpnctrt/projects/eigenexa/

Package: eigenexa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: High Performance Eigen-Solver
